[geth]
# geth.ipc 绝对路径
ipc = /.../geth.ipc

[output]
# 输出文件的路径（绝对路径或相对路径）
path = output
# 输出的文件格式，目前仅支持 csv 和 parquet
format = csv
# 当 format=parquet 时，composition 参数才有效，用于指定压缩格式，默认为 None 即不压缩，支持：snappy, gzip, brotli, None
compression = None
# 7 张表的文件名
table_name_blocks = blocks
table_name_logs = logs
table_name_tokens = tokens
table_name_token_transfers = token_transfers
table_name_transactions = transactions
table_name_contracts = contracts
table_name_receipts = receipts
# 每个文件包含的区块数
batch = 1000

[action]
# 是否继续输出（在上一次结果的基础上）
continue = True